<header>
	<div class="logo">
		<img src="assets/images/logo-fpv.svg" alt="">
	</div>
	
	<span>
		Consultá tu padrón
	</span>

	<a {{action 'close'}} class="close-app">
		{{fa-icon 'times'}}
	</a>

</header>

<div class="search-container">
	<div class="searcher">
		{{input type='text' value=document placeholder="Ingrese el DNI a buscar"}}
		
	</div>

	<div class="actions">
		<a {{action 'find'}}>Buscar</a>
	</div>
</div>
<div class="search-results">
	{{#if afiliated}}
<a {{action 'clear'}} class="clear-search">{{fa-icon 'fa-times-circle-o'}}</a>

	<div class="person-data">
		<h3 class="name">{{afiliated.apellido}}, {{afiliated.nombre}}</h3>
		<h4 class="document">{{afiliated.matricula}}</h4>
		<p class="address">{{afiliated.domicilio}}</p>
	</div>		
	<div class="location">
		<h4>Usted vota en la {{afiliated.nombre_de_la_escuela}} </h4>
		<p>{{afiliated.domicilio_escuela}}</p>
		<p>Mesa {{afiliated.mesa}}</p>
	</div>
	{{else}}	
	<div class="no-result">
		{{fa-icon 'search'}}
	</div>
	{{/if}}
</div>


	
